<div class="headings_row d-flex container-fluid">
    <div class="headings_row_index text-center">{{id}}</div>
    <div class="headings_row_photo text-center">
        <span></span>
    </div>
    <div class="headings_row_fullname text-center">{{full_name}}</div>
    <div class="headings_row_gender text-center">{{gender}}</div>
    <div class="headings_row_birth text-center">{{birth_date}}</div>
    <div class="headings_row_passport text-center">{{passport}}</div>
    <div class="headings_row_update text-center">{{update}}</div>
    <div class="headings_row_object text-center">
        <img src="../../../assets/img/free-icon-font-download-3917768.svg" alt="">
    </div>
    <div class="headings_row_t2 text-center">
        <img src="../../../assets/img/free-icon-font-download-3917768.svg" alt="">
    </div>
    <div class="headings_row_cv text-center">
        <img src="../../../assets/img/free-icon-font-eye-3917015.svg" alt="">
    </div>
</div>