<section class="bg h-100">
    <section class="head">
        <div class="d-flex flex-row container-fluid justify-content-between align-items-center">
            <div class="head-title col-4 d-flex align-items-center justify-content-evenly">
                <img src="../../../assets/img/group.svg" alt="">
                <h3>Ходимларнинг тақсимланиши</h3>
            </div>
            <div class="export-to-excel col-3 d-flex justify-content-end">
                <button class="d-flex align-items-center">
                    <img src="../../../assets/img/free-icon-excel-file-1396.svg" alt="">
                    <p>Excel га экспорт</p>
                </button>
            </div>
        </div>
        <div class="d-flex container-fluid align-items-center">
            <p class="ms-2">Ташкилот: Ўзбекистан Республикаси Президенти ҳузуридаги Давлат хизматини ривожлантириш
                агентлиги
            </p>
        </div>
    </section>
    <section class="body d-flex flex-column align-items-stretch pb-5">
        <div class="sorting_row d-flex flex-row container-fluid align-items-center py-3">
            <div class="col-2 text-center sorting_row_title">Ташкилотни танланг</div>
            <div class="col-4 sorting_row_services">
                <select class="services w-100" name="services" id="services">
                    <option value="">Ўзбекистан Республикаси Президенти ҳузуридаги Давлат хизматини …</option>
                    <option value="service1">Service1</option>
                    <option value="service2">Service2</option>
                    <option value="service3">Service3</option>
                    <option value="service4">Service4</option>
                </select>
            </div>
            <div class="col-3 sorting_row_companies ms-3">
                <select class="companies w-100" name="companies" id="companies">
                    <option value="">Қуйи ташкилотни танланг</option>
                    <option value="company1">company1</option>
                    <option value="company2">company2</option>
                    <option value="company3">company3</option>
                    <option value="company4">company4</option>
                </select>
            </div>
            <div class="col-3 sorting_row_branches ms-3">
                <select class="branches w-75" name="branches" id="branches">
                    <option value="">Филиални танланг</option>
                    <option value="branch1">branch1</option>
                    <option value="branch2">branch2</option>
                    <option value="branch3">branch3</option>
                    <option value="branch4">branch4</option>
                </select>
            </div>
        </div>
        <!-- CHANGES -->
        <div class="headings_row d-flex container-fluid">
            <div class="headings_row_index text-center">Т/р</div>
            <div class="headings_row_photo text-center">Фото</div>
            <div class="headings_row_fullname text-center">Ф.И.Ш</div>
            <div class="headings_row_gender text-center">Жинси</div>
            <div class="headings_row_birth text-center">Туғилган санаси</div>
            <div class="headings_row_passport text-center">Паспорт серия ва рақами</div>
            <div class="headings_row_update text-center">Янгиланган санаси</div>
            <div class="headings_row_object text-center">Объективка</div>
            <div class="headings_row_t2 text-center">Т-2 шкали</div>
            <div class="headings_row_cv text-center">Портфолио</div>
        </div>
        <div class="total_number_row d-flex align-items-center">
            <select class="names" name="names" id="names">
                <option value=""></option>
                <option value="company1">company1</option>
                <option value="company2">company2</option>
                <option value="company3">company3</option>
                <option value="company4">company4</option>
            </select>
            <select class="genders" name="genders" id="genders">
                <option value=""></option>
                <option value="company1">company1</option>
                <option value="company2">company2</option>
                <option value="company3">company3</option>
                <option value="company4">company4</option>
            </select>
            <select class="passports" name="passports" id="passports">
                <option value=""></option>
                <option value="company1">company1</option>
                <option value="company2">company2</option>
                <option value="company3">company3</option>
                <option value="company4">company4</option>
            </select>
        </div>
        <app-home-page-table [id]="'1.1'" [full_name]="'Агентлик директори'" [gender]="'Аёл'" [birth_date]="'1'" [passport]="'АА366363563'" [update]="'28.11.2022'"></app-home-page-table>
        <app-home-page-table [id]="'1.1'" [full_name]="'Директорнинг биринчи ўринбосари'" [gender]="'Эркак'" [birth_date]="'1'" [passport]="'АА366363563'" [update]="'28.11.2022'"></app-home-page-table>
        <app-home-page-table [id]="'1.1'" [full_name]="'Директорнинг биринчи ўринбосари'" [gender]="'Эркак'" [birth_date]="'1'" [passport]="'АА366363563'" [update]="'28.11.2022'"></app-home-page-table>
        <app-home-page-table [id]="'1.1'" [full_name]="'Директорнинг биринчи ўринбосари'" [gender]="'Эркак'" [birth_date]="'1'" [passport]="'АА366363563'" [update]="'28.11.2022'"></app-home-page-table>
    </section>
</section>