<section class="bg h-100">
    <section class="head">
        <div class="d-flex flex-row container-fluid justify-content-between align-items-center">
            <div class="head-title col-4 d-flex align-items-center justify-content-evenly">
                <img src="../../../assets/img/group.svg" alt="">
                <h3>Ходимларнинг тақсимланиши</h3>
            </div>
            <div class="export-to-excel col-3 d-flex justify-content-end">
                <button class="d-flex align-items-center">
                    <img src="../../../assets/img/free-icon-excel-file-1396.svg" alt="">
                    <p>Excel га экспорт</p>
                </button>   
            </div>
        </div>
        <div class="d-flex container-fluid align-items-center">
            <p class="ms-2">Ташкилот: Ўзбекистан Республикаси Президенти ҳузуридаги Давлат хизматини ривожлантириш
                агентлиги
            </p>
        </div>
    </section>
    <section class="body d-flex flex-column align-items-stretch pb-5">
        <div class="sorting_row d-flex flex-row container-fluid align-items-center py-3">
            <div class="col-2 text-center sorting_row_title">Ташкилотни танланг</div>
            <div class="col-4 sorting_row_services">
                <select class="services w-100" name="services" id="services">
                    <option value="">Ўзбекистан Республикаси Президенти ҳузуридаги Давлат хизматини …</option>
                    <option value="service1">Service1</option>
                    <option value="service2">Service2</option>
                    <option value="service3">Service3</option>
                    <option value="service4">Service4</option>
                </select>
            </div>
            <div class="col-3 sorting_row_companies ms-3">
                <select class="companies w-100" name="companies" id="companies">
                    <option value="">Қуйи ташкилотни танланг</option>
                    <option value="company1">company1</option>
                    <option value="company2">company2</option>
                    <option value="company3">company3</option>
                    <option value="company4">company4</option>
                </select>
            </div>
            <div class="col-3 sorting_row_branches ms-3">
                <select class="branches w-75" name="branches" id="branches">
                    <option value="">Филиални танланг</option>
                    <option value="branch1">branch1</option>
                    <option value="branch2">branch2</option>
                    <option value="branch3">branch3</option>
                    <option value="branch4">branch4</option>
                </select>
            </div>
        </div>
        <div class="headings_row d-flex container-fluid">
            <div class="headings_row_index text-center">Т/р</div>
            <div class="col-4 text-center">Лавозим номи</div>
            <div class="col-2 text-center">Штатлар сони</div>
            <div class="headings_row_fullname col-5 text-center">Ф.И.Ш</div>
        </div>
        <div class="total_number_row d-flex align-items-center justify-content-end py-3">
            <p class="m-0 me-3 p-0">Жами ташкилот бўйича: 254/42</p>
        </div>
        <div class="table_title d-flex align-items-center justify-content-center py-3">
            <p class="m-0 p-0">Раҳбарият</p>
        </div>
        <app-table-row [id]="'1.1'" [full_name]="'Xasanov Otabek Abdurashidovich'" [number_of_jobs]="1" [job_title]="'Агентлик директори'"></app-table-row>
        <app-table-row [id]="'1.2'" [full_name]="'Xasanov Otabek Abdurashidovich'" [number_of_jobs]="1" [job_title]="'Агентлик директори'"></app-table-row>
        <app-table-row [id]="'1.3'" [full_name]="'Xasanov Otabek Abdurashidovich'" [number_of_jobs]="1" [job_title]="'Агентлик директори'"></app-table-row>
        <app-table-row [id]="'1.4'" [full_name]="'Xasanov Otabek Abdurashidovich'" [number_of_jobs]="1" [job_title]="'Агентлик директори'"></app-table-row>
        <app-table-row [id]="'1.5'" [full_name]="'Xasanov Otabek Abdurashidovich'" [number_of_jobs]="1" [job_title]="'Агентлик директори'"></app-table-row>
        <div class="total_number_row d-flex align-items-center justify-content-end py-3">
            <p class="m-0 me-3 p-0">Жами: 5</p>
        </div>
        <div class="table_title d-flex align-items-center justify-content-center py-3">
            <p class="m-0 p-0">Кадрлар маъмуриятчилиги департаменти</p>
        </div>
        <app-table-row [id]="'1.1'" [full_name]="'Xasanov Otabek Abdurashidovich'" [number_of_jobs]="1" [job_title]="'Агентлик директори'"></app-table-row>
        <app-table-row [id]="'1.2'" [full_name]="'Xasanov Otabek Abdurashidovich'" [number_of_jobs]="1" [job_title]="'Агентлик директори'"></app-table-row>
        <app-table-row [id]="'1.3'" [full_name]="'Xasanov Otabek Abdurashidovich'" [number_of_jobs]="1" [job_title]="'Агентлик директори'"></app-table-row>
        <app-table-row [id]="'1.4'" [full_name]="'Xasanov Otabek Abdurashidovich'" [number_of_jobs]="1" [job_title]="'Агентлик директори'"></app-table-row>
    </section>
</section>