<!-- justify-content-around is also an option -->
<section class="sidebar d-flex flex-column">
    <div class="section d-flex align-items-center justify-content-evenly align-items-stretch">
        <img class=" icon" src="../../../assets/img/multiple-users-silhouette.svg" alt="">
        <h4 class="col-7">Ташкилий штат тузилмаси</h4>
        <img class="arrow" src="../../../assets/img/Path 94.svg" alt="">
    </div>
    <div class="section d-flex align-items-center justify-content-evenly">
        <img class="accounts icon" src="../../../assets/img/owner.svg" alt="">
        <h4 class="col-7">Ходимлар хисоби</h4>
        <img class="arrow" src="../../../assets/img/Path 94.svg" alt="">
    </div>
    <div class="docs_parent section d-flex align-items-center justify-content-evenly">
        <img class="docs icon" src="../../../assets/img/Notifications Icon.svg" alt="">
        <h4 class="col-7">Ҳужжатлар</h4>
        <img class="arrow" src="../../../assets/img/Path 94.svg" alt="">
    </div>
    <div class="section d-flex align-items-center justify-content-evenly">
        <img class=" icon" src="../../../assets/img/timetable.svg" alt="">
        <h4 class="col-7">Иш вақти ҳисоби</h4>
        <img class="arrow" src="../../../assets/img/Path 94.svg" alt="">
    </div>
    <div class="section d-flex align-items-center justify-content-evenly">
        <img class=" icon" src="../../../assets/img/group.svg" alt="">
        <h4 class="col-7">Ходимларни режалаштириш</h4>
        <img class="arrow" src="../../../assets/img/Path 94.svg" alt="">
    </div>
    <div class="section d-flex align-items-center justify-content-evenly">
        <img class=" icon" src="../../../assets/img/Filled.svg" alt="">
        <h4 class="col-7">Маъумотлар</h4>
        <img class="arrow" src="../../../assets/img/Path 94.svg" alt="">
    </div>
    <div class="section d-flex align-items-center justify-content-evenly">
        <img class="profile icon" src="../../../assets/img/Profile Icon.svg" alt="">
        <h4 class="col-7">Профиль</h4>
        <img class="arrow" src="../../../assets/img/Path 94.svg" alt="">
    </div>
</section>