/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
// *{
//     padding: 0;
//     margin: 0;
// }
@font-face {
    font-family: 'SansProBold';
    src: url(assets/fonts/SourceSansPro-Bold.ttf);
}

@font-face {
    font-family: 'SansProSemi';
    src: url(assets/fonts/SourceSansPro-SemiBold.ttf);
}

@font-face {
    font-family: 'SansProRegular';
    src: url(assets/fonts/SourceSansPro-Regular.ttf);
}